{% extends 'base.html' %}
{% load static %}

{% block title %}{{ student.last_name }} {{ student.first_name }}{% endblock %}

{% block content %}
    <div class="container-fluid px-5">
        <div class="hstack gap-3 ms-3 mt-4">
            <h2 class="text-capitalize ">{{ student.last_name }} {{ student.first_name }} {{ student.middle_name }}</h2>
            <span class="badge fw-normal d-inline-block p-1 px-2 border-0 fs-6 text-center
                {% if student.status == 0 %}bg-primary text-white{% endif %}
                {% if student.status == 1 %}bg-info text-white{% endif %}
                {% if student.status == 2 %}bg-secondary text-white{% endif %}
                {% if student.status == 3 %}bg-info text-white{% endif %}
                " style="transform: translateY(-13%)">
                    {% if student.status == 0 %}Зачислен {% endif %}
                {% if student.status == 1 %}Рассматривается {% endif %}
                {% if student.status == 2 %}Отчислен {% endif %}
                {% if student.status == 3 %}Рассматривается {% endif %}
                </span>
            {% if student.is_paid %}
                <span class="badge bg-success fw-normal d-inline-block p-1 px-2 border-0 fs-6 text-center"
                      style="transform: translateY(-13%)">
                    Внебюджет
                    {% if student.paid_delete_doc %} | Отчислен {% endif %}
                </span>
            {% endif %}
            <a class="btn btn-primary ms-auto border-0 text-uppercase" href="#" onclick="history.back()">Вернуться назад
                <img class="ms-1" src="{% static 'icons/icons/arrow-return-left.svg' %}"
                     style="filter: invert(1);">
            </a>

        </div>
        <div class="hstack">
            <span class="fs-4 ms-3 text-uppercase">{{ student.birthday }} ({{ student.birthday|date:"d.m.Y" }})</span>
            <div class="vr ms-3"></div>
            <span class="fs-4 ms-3 text-uppercase">{{ student.school }}</span>
        </div>
        <div class="row mt-4">
            <div class="col">
                {% if student.status == 3 or student.status == 1 %}
                    <div class="card mb-4">
                        <div class="row p-2">
                            <div class="col-4">
                                <div class="p-1 ps-2 pt-2">
                                    <span class="fs-6 text-muted text-uppercase">Направление</span><br>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="p-1">
                                    <span class="fs-5">{{ student.direction }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if student.group %}
                    {% include 'student/student_general_block.html' %}
                {% endif %}
                {% if student.is_paid %}
                    {% include 'student/student_paid_block.html' %}
                {% endif %}
            </div>
            <div class="col">
                {% include 'student/student_contacts_block.html' %}
                {% if user_can_edit %}
                    {% include 'student/student_docs_block.html' %}
                {% endif %}
            </div>
            {% if user_can_edit %}
                <div class="col-2">
                    <p class="fs-4 text-uppercase">Действия</p>
                    <div class="panel">
                        {% if student.status == 2 and student.paid_delete_doc %}
                            <p class="alert alert-info">Обучающийся отчислен, операции невозможны</p>
                        {% endif %}
                        {% if student.status == 2 and not student.is_paid %}
                            <p class="alert alert-info">Обучающийся отчислен, операции невозможны</p>
                        {% endif %}
                        {% if user_can_adding %}
                            {% if student.status != 2 %}
                                {% if student.status == 3 or student.status == 1 or not student.group %}
                                    {% include 'student/student_adding_form.html' %}
                                {% endif %}
                            {% endif %}
                            {% if not student.is_paid %}
                                {% include 'student/student_paid_adding_form.html' %}
                            {% endif %}
                        {% endif %}
                        {% if student.status != 2 or not student.paid_delete_doc %}
                            <div>
                                <img src="{% static 'icons/icons/pencil-square.svg' %}" class="mx-2"
                                     style="transform: translateY(-5%);">
                                <a class="list-item active" href="/edit/{{ student.id }}">Редактировать</a><br>
                            </div>
                        {% endif %}
                        {% if user_can_delete %}
                            {% if student.status == 0 and student.group %}
                                {% include 'student/student_delete_form.html' %}
                            {% endif %}
                            {% if student.is_paid and not student.paid_delete_doc %}
                                {% include 'student/student_paid_delete_form.html' %}
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}