{% load static %}
<div>
    <img src="{% static 'icons/icons/person-plus.svg' %}" class="mx-2"
         style="transform: translateY(-5%)">
    <a class="list-item active" href="#" data-bs-toggle="modal"
       data-bs-target="#modalPaidGroup">Зачислить на внебюджет</a>
</div>

<div class="modal fade" id="modalPaidGroup" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="modalPaidGroupLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Зачисление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    {{ errors }}
                    {% if student.status == 1 %}
                        <b class="text-danger">ЗАЧИСЛЕНИЕ НЕВОЗМОЖНО</b><br>
                        <span>У данного абитуриента загружены не все документы</span><br><br>
                        <span>Загрузите все документы чтобы зачислить</span>
                    {% else %}
                        <div class="mb-3">
                            <label for="paidGroupInput" class="form-label">Группа</label>
                            {{ paid_form.paid_group }}
                        </div>
                        <div class="mb-3" id="paidDateBlock">
                            <label for="paidDateInput" class="form-label">Дата
                                зачисления</label>
                            {{ paid_form.paid_date }}
                        </div>
                        <div id="paidFileBlock">
                            <span class="fs-5">Для зачисления абитуриента загрузите приказ о зачислении</span>
                            <br>
                            <div class="alert alert-danger">
                                <b class="text-danger">ВНИМАНИЕ</b><br>
                                <span>Проверьте приказ на наличие ошибок прежде чем загружать</span><br>
                                <span>После зачисления его нельзя будет изменить</span>
                            </div>
                            {{ paid_form.paid_doc }}
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if student.status == 1 %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Закрыть
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Закрыть
                        </button>
                        <button type="submit" id="paidBtn" class="btn btn-primary border-0">
                            Зачислить
                        </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
<hr>