{% load static %}
<div>
    <img src="{% static 'icons/icons/person-plus.svg' %}" class="mx-2"
         style="transform: translateY(-5%)">
    <a class="list-item active" href="#" data-bs-toggle="modal" style="max-width: 70%"
       data-bs-target="#staticBackdrop">Зачислить на бюджет</a>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Зачисление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    {{ errors }}
                    <div class="mb-3">
                        <label for="groupInput" class="form-label">Группа</label>
                        {{ student_form.group }}
                    </div>
                    <div class="mb-3" id="addingDateBlock">
                        <label for="addingDateInput" class="form-label">Дата
                            зачисления</label>
                        {{ student_form.adding_date }}
                    </div>
                    <div id="addingFileBlock">
                        <span class="fs-5">Для зачисления абитуриента загрузите приказ о зачислении</span>
                        <br>
                        <div class="alert alert-danger">
                            <b class="text-danger">ВНИМАНИЕ</b><br>
                            <span>Проверьте приказ на наличие ошибок прежде чем загружать</span><br>
                            <span>После зачисления его нельзя будет изменить</span>
                        </div>
                        {{ student_form.adding_document }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Закрыть
                    </button>
                    <button type="submit" id="addingBtn" class="btn btn-primary border-0">
                        Зачислить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>