.bg-warning {
    background: rgb(255, 182, 26);
}

.bg-primary {
    background: rgb(13, 121, 252);
}

.bg-info {
    background: rgb(52, 159, 209);
}

.bg-success {
    background: rgb(48, 207, 108);
}

.bg-danger {
    background: rgb(189, 63, 50);
}

.btn-primary {
    background: rgba(13, 110, 253, 1);
}

.btn-success {
    background: rgb(48, 207, 108);
}

.card {
    border-radius: 10px;
}

.card-header:first-child {
    background: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-item .nav-link {
    border-radius: 10px;
}

.nav-link {
    color: black;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

button.nav-link:hover {
    color: white;
    border-radius: 10px;
    background: rgba(13, 110, 253, 1);
}

button.nav-link.active {
    border-radius: 10px;
    background: rgba(13, 110, 253, 1);
    color: white;
}

button.nav-link:hover img{
    filter: invert(1);
}

.nav-link.active img{
    filter: invert(1);
}

body {
    background: white;
}

.btn {
    transition: ease-in-out 0.2s;
    border-radius: 10px;
}

.form-control, .form-select, .alert, .dropdown-menu{
    border-radius: 10px;
}

a.nav-link.btn {
    background: #ebebeb;
}

.nav-link.btn:hover {
    background: rgb(38, 124, 252);
    color: white;
}

.nav-link.btn:hover img {
    filter: invert(1);
}

.student.card:hover {
    border-color: rgb(13, 110, 253);
    color: rgb(13, 110, 253);
}

.panel.home {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #e0e1e4;
}

.list-group-item {
    background: none;
}

.panel a {
    max-width: 85%;
    display: inline-block;
    padding: 7px 12px;
    margin: 1%;
    background-color: #ebebeb;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-text);
    transition: ease-in-out 0.2s;
}


.panel a.active {
    text-decoration: none;
    color: white;
    background: rgba(13, 110, 253, 1);
    border-radius: 10px;
}

.panel a.active.danger {
    background: #bd3f32;
}

.panel a.active img {
    filter: invert(1);
}

.panel a:hover {
    text-decoration: none;
    color: white;
    background: rgb(38, 124, 252);
    border: none;
    filter: hue-rotate(20deg);
}

.panel a.danger.active:hover {
    background: #cc4539;
}

.panel a.active:hover {
    color: white;
    background: rgba(13, 110, 253, 1);
    filter: hue-rotate(20deg);
}

.btn-outline-primary {
    background-color: transparent;
}

.btn-outline-primary:hover {
    color: white;
    background: rgb(13, 110, 253);
    background: linear-gradient(45deg, rgba(13, 110, 253, 1) 0%, rgb(0, 149, 255) 100%);
    filter: hue-rotate(20deg);
}

:root {
    --color-text: #212529;
    --color-secondary: #6c757d;
}