<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'it-cube-logo.png' %}"/>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
        <link rel="stylesheet" href="{% static 'google_sans/style.css' %}">
        <link rel="stylesheet" href="{% static 'custom.css' %}">
        <link rel="stylesheet" href="{% static 'journal.css' %}">
        <link rel="stylesheet" href="{% static 'darkmode.css' %}">
        <script src="{% static 'js/js_frameworks/vue.js' %}"></script>
        <script src="{% static 'js/js_frameworks/axios.js' %}"></script>
        <script src="{% static 'js/js_frameworks/axios.js.map' %}"></script>
        <script src="{% static 'js/js_frameworks/jquery.js' %}"></script>
        <script src="{% static 'js/js_frameworks/isotope.js' %}"></script>
        <script src="{% static 'js/js_frameworks/cookie-jquery.js' %}"></script>
        <script src="{% static 'js/js_frameworks/lodash.min.js' %}"></script>
        <script src="{% static 'js/js_main/journal.js' %}"></script>
        <script src="{% static 'js/js_main/table.js' %}"></script>
        <script src="{% static 'js/js_main/main.js' %}"></script>
        <script src="{% static 'js/js_main/darkmode.js' %}"></script>
        <script src="{% static 'js/js_main/accordion.js' %}"></script>
    </head>
    <body style="font-family: Google Sans" class="bg-light">
        {% block content %}{% endblock %}
        <script src="{% static 'vue/app.js' %}"></script>
    </body>
</html>
