{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
{% include "header.html"%}
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-9">
            <div class="hstack gap-2">
                <p class="fs-4 text-uppercase">Учащиеся<span class="text-muted ms-2">{{ students.count }}</span></p>
            </div>
            {% verbatim home %}
            <div id="main-app" v-if="students.length > 0" class="card table-responsive mb-4" style="border-bottom: none">
                <table class="table table-hover mb-0 align-middle" id="main-table">
                    <thead class="card-header align-middle">
                    <tr id="table-header">
                        <td class="col text-center" style="min-width: 300px" data-sort="name"
                            data-field="student-name">ФИО
                        </td>
                        <td class="col text-center" data-field="bdate">Дата рождения</td>
                        <td class="col text-center" data-field="school">Школа</td>
                        <td class="col text-center" data-field="group">Группа</td>
                        <td class="col text-center" data-field="parent-name">ФИО Родителя</td>
                        <td class="col text-center" data-field="parent-number">Номер родителя</td>
                        <td class="col text-center" data-field="status">Статус</td>
                    </tr>
                    </thead>
                    <tbody class="grid">

                    <tr v-for="s in students" class="tr-item grid-item" v-on:dblclick="openStudentCard(s.id)"
                        style="cursor:pointer">
                        <td data-field="student-name" class="col text-center">
                            <span class="name">{{ s.last_name }} {{ s.first_name }} {{ s.middle_name }}</span>
                        </td>
                        <td data-field="bdate" class="col text-center">
                            <span><a :title="s.birthday">{{ s.birthday }}</a></span>
                        </td>
                        <td data-field="school" class="col text-center">
                            <span>{{ s.school }}</span>
                        </td>
                        <td data-field="group" class="col text-center">
                            <span v-if='s.status == 0 || s.status == 1' class="my-auto badge fw-normal bg-primary"
                                  title="Бюджет">{{ s.group }}</span>
                            <span class="my-auto badge fw-normal bg-info" v-if="s.status == 2">Резерв</span>
                        <span v-for="pg in s.paid_group">
                            <span class="my-auto badge fw-normal bg-success" v-if="pg.status == 0"
                                  title="Внебюджет">{{ pg.name }}</span>
                            <span class="my-auto badge fw-normal bg-info" v-if="pg.status == 2"
                                  title="Внебюджет">Внебюджет | Резерв</span>
                        </span>
                        
                        </td>
                        <td data-field="parent-name" class="col text-center">
                            <span>{{ s.parent_name }}</span>
                        </td>
                        <td data-field="parent-number" class="col text-center">
                            <span>{{ s.parent_number }}</span>
                        </td>
                        <td data-field="status" class="col text-center">
                            <span v-if="s.status == 0 || s.paid_group.length > 0" class="badge bg-primary fw-normal text-wrap">Зачислен</span>
                            <span v-if="s.status == 2" class="badge bg-info fw-normal text-wrap">Резерв</span>
                            <span v-if="s.status == 1 " class="badge bg-danger fw-normal text-wrap">Отчислен</span>
                            <span v-if="s.paid_group.length > 0 && s.paid_status == true" class="badge bg-success mt-1 fw-normal text-wrap">Внебюджет</span>
                            <span v-if="s.paid_group.length > 0 && s.paid_status == false"class="badge bg-danger mt-1 fw-normal text-wrap">Внебюджет | Отчислен</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            {% endverbatim home %}
        </div>
        {% if not user.userprofile.is_teacher %}
        {% include 'home_rightmenu_manager.html' %}
        {% else %}
        {% include 'right_menu_teacher.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}