{% load static %}
<div class="col-3">
    <p class="fs-4 text-uppercase ms-2" style="transform: translateY(-3px)">Направления и группы</p>
    <div class="panel home">
        <div class="list-item group panel-outer">
            <img src="{% static 'icons/icons/list.svg' %}" class="panel-inner mx-2" style="padding-left: 2%; padding-right: 2%;">
            <a class="list-item group all-students"
            href="#all">Все учащиеся</a>
        </div>
    </div>
    {% if groups or paid_groups %}
    <div class="panel home accord">
        {% for d in directions %}
        <div class="list-item group panel-outer accord-item" data-direction="{{ d.direction_name }}">
            <a class="accord-trigger d-flex"><img src="{% static 'icons/icons/caret-right.svg' %}" class="panel-inner accord-icon m-auto"></a>
            <a class="list-item group accord-header"
               href="#direction={{ d.id }}">{{ d.direction_name }}</a>
        </div>
        <div class="collapse accord-content">
            {% for g in groups %}
            {% if g.direction == d %}
            <div class="list-item group panel-outer ms-5" data-direction="{{ g.direction.direction_name }}">
                <img src="{% static 'icons/icons/layers.svg' %}" class="panel-inner accord-icon me-0 ms-2" style="padding-left: 2%; padding-right: 2%;">
                <a class="list-item group"
                   href="#group={{ g.id }}">{{ g.group_name }}</a>
            </div>
            {% endif %}
            {% endfor %}
            {% for pg in paid_groups %}
            {% if pg.direction == d %}
            <div class="list-item group panel-outer ms-5" data-direction="{{ pg.direction.direction_name }}">
                <img src="{% static 'icons/icons/layers-fill.svg' %}" class="panel-inner accord-icon me-0 ms-2" style="padding-left: 2%; padding-right: 2%;">
                <a class="list-item group"
                   href="#paidgroup={{ pg.id }}">{{ pg.group_name }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>