{% extends 'base.html' %}
{% load static %}
{% block title %}Журнал{% endblock title %}
{% block content %}
    {% include "header.html" %}
    <div class="row mx-2">
        {% verbatim journal %}
        <div class="col-9" id='journal-app'>
            <ul class="nav navbar nav-pills py-0 mb-3 nav-fill gap-2">
                    <li v-for="m in months" class="nav-item">
                        <a class="nav-link month btn btn-primary" @click="changeMonth(m)" :class="{ active: activeMonth == m }">{{ m }}</a>
                    </li>
            </ul>
            <div class="p-0 d-flex mb-3 border-0 flex-wrap align-items-center justify-content-center justify-content-md-between">
                <ul class="nav nav-pills col-12 gap-2 col-md-auto mb-2 justify-content-center mb-md-0"
                    id="top-panel">
                    <li class="nav-item">
                        <a data-index="0" @click="tabIndex = 0" :class="{ active: tabIndex == 0 }"
                           class="nav-link top-panel btn btn-primary border-0 px-3">
                            <img src="static/icons/icons/journal-bookmark.svg"
                                 class="me-2"
                                 style="transform: translateY(-10%) translateX(-5%)"
                                 alt="cube">
                        Техника безопасности</a>
                    </li>
                    <li class="nav-item">
                        <a data-index="1" @click="tabIndex = 1" :class="{ active: tabIndex == 1 }"
                           class="nav-link top-panel btn btn-primary border-0 px-3">
                            <img src="static/icons/icons/journal-album.svg"
                                 class="me-2"
                                 style="transform: translateY(-10%) translateX(-5%)"
                                 alt="cube">
                        Журнал</a>
                    </li>
                </ul>
                <div class="hstack ms-auto">
                    <div v-if="user.is_teacher">
                        <span class="text-danger me-4" id="warning-text" hidden>Внимание! Таблица изменена, необходимо её сохранить</span>
                        <a id="export-table" class="btn btn-primary border-0 me-2">
                            <img src="static/icons/icons/device-hdd.svg"
                                 style="filter: invert(1);
                                        transform: translateY(-5%)"
                                 class="me-1"/>
                        Сохранить</a>
                    </div>
                    <a id="download-table" class="btn btn-primary border-0">
                        <img src="static/icons/icons/download.svg"
                             style="filter: invert(1)">
                    </a>
                </div>
            </div>
            <div id="table-marks" class="card table-responsive mb-2 border-bottom-0" v-if="tabIndex == 1">
                <div class="card-header border-bottom-0">
                    <span class="card-title fs-5">Посещаемость</span>
                </div>
                <table class="table mb-0 table-bordered table-striped" id="TableToExport">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="name" style="min-width: 220px">Фамилия Имя</th>
                                <th scope="col" v-for="i in cols" class="text-center" style="min-width: 60px">
                                    <input v-model="group_dates[i - 1]" :id="'date-' + i - 1"
                                           :data-col="i"
                                           type="date"
                                           class="journal-date text-center"
                                           placeholder="Дата"
                                           style="max-width: 110px">
                                </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr v-for="(s, parent_index) in students">
                                <th v-if="s.status == 2" scope="row"
                                    class="text-center text-danger">{{ parent_index + 1 }}</th>
                                <th v-if="s.status == 0" scope="row"
                                    class="text-center">{{ parent_index + 1 }}</th>
                                <td v-if="s.status == 2" class="name text-danger"
                                    data-bs-toggle="tooltip" data-bs-placement="right" :data-bs-title="'Отчислен с' + s.delete_date"
                                    :id="'name-' + parent_index">
                                    {{ s.last_name }} {{ s.first_name }}
                                </td>
                                <td v-if="s.status == 0" class="name"
                                    :id="'name-' + parent_index">
                                    {{ s.last_name }} {{ s.first_name }}
                                </td>
                                    <td v-for="(i, index) in cols" class="text-center">
                                        <select v-model="group_marks[parent_index]['marks'][index]" :id="'mark-' + parent_index + '-' + index"
                                                class="journal-mark text-center">
                                            <option value="0">
                                            </option>
                                            <option value="1">
                                                НБ
                                            </option>
                                            <option value="2">
                                                Б
                                            </option>
                                        </select>
                                    </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div id="table-themes" class="card table-responsive mt-4 mb-4" v-if="tabIndex == 1">
                <div class="card-header border-bottom-0">
                    <span class="card-title fs-5">Темы</span>
                </div>
                <table class="table mb-0 table-bordered table-striped" id="TableToExport">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center" style="width: 120px">Дата</th>
                            <th scope="col" class="text-center" style="width: 120px">Кол-во часов</th>
                            <th scope="col" style="min-width: 75%">Тема занятия</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr v-for="row in cols">
                                <td>
                                    <input v-model="group_dates[row - 1]" :id="'theme-date-' + row"
                                           type="date"
                                           class="journal-date text-center"
                                           placeholder="-">
                                </td>
                                <td>
                                    <input v-model="group_themes[row - 1].time" :id="'theme-time-' + row"
                                           type="text"
                                           class="journal-date text-center"
                                           placeholder="-">
                                </td>
                                <td>
                                    <input v-model="group_themes[row - 1].theme" :id="'theme-' + row" type="text" class="journal-date" placeholder="-">
                                </td>
                            </tr>
                    </tbody>
                </table>
                <div class="card-footer border-top-0">
                    <span class="text-muted">IT-CUBE САТКА</span>
                </div>
            </div>
            <div id="table-tb" class="card table-responsive mt-2 mb-4" v-if="tabIndex == 0">
                <div class="card-header border-bottom-0">
                    <span class="card-title fs-5">Техника безопасности</span>
                </div>
                <table class="table mb-0 table-bordered table-striped" id="TableToExport">
                    <thead class="table-light">
                        <tr>
                            <th scope="row" class="text-center">#</th>
                            <th scope="col" class="" style="width: 220px">Фамилия Имя</th>
                            <th scope="col" class="text-center" style="width: 120px">Дата</th>
                            <th scope="col" style="min-width: 400px">Тема</th>
                            <th scope="col" class="text-center" style="width: 120px">Дата</th>
                            <th scope="col" style="min-width: 400px">Тема</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr v-for="index in 16">
                                <th class="text-center">{{ index + 1 }}</th>
                                <td :id="'tb-name-' + index"></td>
                                <td>
                                    <input :id="'tb-bs-date-' + index"
                                           type="date"
                                           class="journal-tb text-center"
                                           placeholder="-">
                                </td>
                                <td>
                                    <input :id="'tb-bs-theme-' + index"
                                           type="text"
                                           class="journal-tb"
                                           placeholder="-">
                                </td>
                                <td>
                                    <input :id="'tb-pdd-date-' + index"
                                           type="date"
                                           class="journal-tb text-center"
                                           placeholder="-">
                                </td>
                                <td>
                                    <input :id="'tb-pdd-theme-' + index"
                                           type="text"
                                           class="journal-tb"
                                           placeholder="-">
                                </td>
                            </tr>
                    </tbody>
                </table>
                <div class="card-footer border-top-0">
                    <span class="text-muted">IT-CUBE САТКА</span>
                </div>
            </div>
        </div>
        {% endverbatim journal %}
        <div class="col-3" style="transform: translateY(3px)">
           {% include 'right_menu_teacher.html' %}
        </div>
    </div>
{% endblock %}
