{% extends 'base.html' %}
{% load static %}
{% block title %}Ошибка{% endblock %}
{% block content %}
    <div class="container-fluid">
        <img src="{% static 'it-cube-logo.png' %}"
             style="width: 10%; margin-top: 5rem; display: block; margin-left: auto; margin-right: auto; opacity: 85%">
        <div class="col">
            <div class="card"
                 style="margin: 5% auto 5%; max-width: 30rem">
                <div class="card-body">
                    <h4 class="card-title" align="center">
                        {{ error_title }}
                    </h4>
                    <p class="card-text" align="center">
                        {{ error_msg }}
                    </p>
                </div>
                <div class="card-footer px-2">
                    <a class="btn btn-primary w-100" href="/">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}