{% load static %}

<div class="dropdown ms-auto">
    <a href="#" class="link-dark text-decoration-none dropdown-toggle"
       id="dropdownUser1"
       data-bs-toggle="dropdown" aria-expanded="false">
        {% if user.userprofile.photo %}
            <img src="{{ user.userprofile.photo.url }}" alt="mdo" width="32"
                 height="32"
                 class="rounded-circle" style="object-fit: cover">
        {% else %}
            <img src="{% static 'icons/icons/person-circle.svg' %}"
                 width="32" height="32"
                 class="rounded-circle"
                 style="object-fit: cover; filter: invert(1) brightness(30%)">
        {% endif %}
    </a>
    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        {% if user.userprofile.photo %}
            <li><img src="{{ user.userprofile.photo.url }}" width="256" height="256" style="object-fit: cover"
                     class="m-2 mt-0 rounded-1"></li>
        {% endif %}
        <li><span class="dropdown-item-text fw-bold" href="#">
                                    {{ user.userprofile.last_name }} {{ user.userprofile.first_name }}
                                </span></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Тёмная тема (В разработке)</a>
        </li>
        <li>
            <a href="/profile" class="dropdown-item">
                Профиль
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/logout">Выйти</a></li>
    </ul>
</div>

