{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ user.userprofile.first_name }} {{ user.userprofile.last_name }}
{% endblock title %}
{% block content %}
    {% include "header.html" %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                {% if user.userprofile.photo %}
                    <img src="{{ user.userprofile.photo.url }}" alt="mdo" width="80%"
                        class="rounded-circle" style="object-fit: cover">
                {% else %}
                    <img src="{% static 'icons/icons/person-circle.svg' %}"
                        width="80%"
                        class="rounded-circle"
                        style="object-fit: cover; filter: invert(1) brightness(30%)">
                {% endif %}
            </div>
            <div class="col">
                <p class="fs-3">{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}</p>
                <p class="fs-5 ms-2">Инфо</p>
                <div class="card">
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
